@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 47%;
  }
}

img {
  max-width: 100%;
}

body {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Manrope", sans-serif;
  background-color: #FEFEC5;
  color: #000000;
  overflow-x: hidden;
  line-height: 1.5;
}

section,
header,
footer {
  max-width: 192rem;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
dl,
dt,
dd,
table,
tr,
td,
figure,
figcaption,
label {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
a:focus, a:active {
  outline: none !important;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  font-weight: 700;
}
input {
  outline: none;
  cursor: pointer;
  padding-left: 1rem;
}

select {
  outline: none;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.grow-1 {
  flex-grow: 1;
}

.sidebar {
  width: 20%;
}
@media (max-width: 739px) {
  .sidebar {
    display: none;
  }
}
.sidebar .sidebar-item + .sidebar-item {
  margin-top: 3rem;
}
.sidebar .sidebar__form {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
}
.sidebar .sidebar__form input {
  flex-grow: 1;
  background-color: #c4c4c4;
  border: none;
  outline: none;
}
.sidebar .sidebar__form label {
  font-size: 2rem;
  cursor: pointer;
}

.btn {
  padding: 0.6rem 3rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.7rem;
  background-color: #4399C9;
  border-radius: 0.5rem;
  outline: none;
  border: none;
}
.btn:hover {
  outline: none;
  border-radius: 0.5rem;
}
.btn:active {
  outline: none;
}
@media (max-width: 991px) {
  .btn {
    padding: 0.5rem 2rem;
  }
}

.btn-red {
  padding: 0.8rem 4.5rem;
  border-radius: 5px;
  background-color: #F25A5A;
  outline: none;
  border: none;
  color: white;
  font-weight: 700;
}
.btn-red.btn-white {
  background-color: #ccc;
  color: #000000;
  font-size: 1.9rem;
  font-weight: 700;
}

.menu__item-link {
  display: block;
  padding: 1.6rem;
  background-color: #C0DDF9;
  border-radius: 0px 12px 12px 0px;
  font-weight: 700;
}
.menu__item-link.active {
  background-color: #F8D9CC;
}

.input__border-none {
  border: none;
  border-bottom: 1px solid #000000;
  font-size: inherit;
}

.section-header {
  padding-top: 1rem;
  padding-right: 2rem;
  background-color: #FEFEC5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar {
  padding: 0 7.5rem 0 0.6rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .navbar {
    align-items: center;
  }
}

.navbar__logo {
  flex-grow: 5;
}
.navbar__logo .logo-link {
  display: flex;
}

.navbar__text {
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .navbar__text {
    display: block;
    position: absolute;
    top: 110%;
    right: 2rem;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 0.3rem;
  }
}

.navbar__list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin-top: 1.2rem;
}
@media (max-width: 991px) {
  .navbar__list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.navbar__list .nav-link {
  padding: 1.2rem 3.4rem;
  font-weight: 700;
}
.navbar__list .register,
.navbar__list .login {
  font-weight: 400;
  text-decoration: underline;
}

.navbar__login {
  font-size: 1.8rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
  gap: 1rem;
  text-transform: uppercase;
}
.navbar__login .nav-link {
  padding: 0.3rem;
}

.menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 3rem;
  height: 3rem;
  background-color: gray;
  border-radius: 0.3rem;
  color: white;
  cursor: pointer;
}
@media (min-width: 992px) {
  .menu-icon {
    display: none;
  }
}

.section-header.view .navbar {
  padding-right: 0rem;
}
.section-header.view .navbar__text {
  justify-content: flex-end;
}
.section-header.view .login,
.section-header.view .register {
  font-size: 1.8rem;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 400;
}

.section-header.register .navbar__text {
  flex-grow: 0;
}
.section-header.register .login,
.section-header.register .register {
  font-size: 1.8rem;
  text-decoration: underline;
  text-transform: uppercase;
}
.section-header.register .navbar__logo {
  height: 10.1rem;
}
.section-header.register .nav-item__login {
  margin-left: 7rem;
  margin-top: -0.5rem;
}

.section-header.content .navbar__logo {
  flex-grow: 0;
}
.section-header.content .navbar {
  padding: 0 0.6rem;
  justify-content: space-between;
}
.section-header.content .navbar__list {
  justify-content: center;
  flex-grow: 1;
}
.section-header.content .nav-link {
  padding: 1.2rem 1.4rem;
}
.section-header.content .navbar__login {
  font-size: 1.5rem;
  text-transform: none;
}
.section-header.content .login-name {
  font-weight: 700;
}
.section-header.content .login-user {
  color: #A3CB38;
  position: relative;
}
.section-header.content .login-user::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 1.3rem;
  height: 1.3rem;
  background-color: #A3CB38;
  border-radius: 50%;
  transform: translate(-115%, -50%);
}

.section__hero-image {
  margin-top: 11.3rem;
  background-image: url("../images/hero-image.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 10.6rem;
}

.section-track {
  margin-top: 5rem;
}
.section-track .track__wraper {
  padding: 0 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 3rem;
  padding-bottom: 4rem;
}

.track__content {
  flex-grow: 1;
}
.track__content .track__setting {
  text-align: center;
  border-left: 1px solid #414141;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  flex-wrap: wrap;
  padding: 0 3rem;
}
.track__content .track__heading {
  font-size: 2.5rem;
  font-weight: 700;
}
.track__content form {
  text-align: left;
  font-size: 2rem;
  font-weight: 700;
}
.track__content .form__reading-hour {
  margin-top: 3rem;
}
.track__content .track__btn {
  margin-top: 3rem;
  margin-left: 14.5rem;
}
.track__content .track__btn .track__setting {
  padding: 1rem 2rem;
  border: 1px solid black;
  background-color: #fff;
}
.track__content input {
  padding: 1rem;
}
.track__content .track__text {
  font-size: 2.5rem;
  font-weight: 700;
  color: #278E03;
}

.track__pomodoro {
  flex-grow: 1;
  text-align: center;
}
.track__pomodoro .pomodoro__wraper {
  padding: 3rem;
  margin: 0 auto;
  width: 85%;
  background-color: rgba(243, 131, 95, 0.92);
}
.track__pomodoro .pomodoro__box {
  padding: 2rem;
  padding-bottom: 4rem;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  background-color: rgba(243, 119, 95, 0.92);
}
.track__pomodoro .pomodoro__box .btn__toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 2rem;
  padding: 1rem 4rem;
  color: #fff;
  font-size: 1.5rem;
}
.track__pomodoro .pomodoro__box .btn__toggle .toggle-item {
  padding: 1rem;
}
.track__pomodoro .pomodoro__box .btn__toggle .toggle-item.active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.track__pomodoro .pomodoro__box .pomodoro__time {
  font-size: 8rem;
}
.track__pomodoro .pomodoro__box .pomodoro__btn-start {
  padding: 2rem 6rem;
  font-weight: 700;
  font-size: 2.5rem;
  color: rgba(243, 131, 95, 0.92);
  position: relative;
}
.track__pomodoro .pomodoro__box .pomodoro__btn-start::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #80808042;
}
.track__pomodoro p {
  font-weight: 700;
}
.track__pomodoro .text-number {
  margin-top: 2rem;
}
.track__pomodoro select {
  margin-top: 3rem;
  width: 50%;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #fff;
}
.track__pomodoro .pomodora__btn-add__tasks {
  margin-top: 3rem;
  width: 50%;
  padding: 2rem 0;
  background-color: rgba(250, 111, 111, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.track__analysis .analysis__reached {
  text-align: center;
  font-size: 2.5rem;
  color: #278E03;
  margin-top: 3rem;
}
.track__analysis .analysis__more {
  font-weight: 700;
  font-size: 2rem;
  margin-top: 3rem;
  text-align: center;
}
.track__analysis .analysis__more a {
  text-decoration: underline;
}
.track__analysis table {
  border-collapse: collapse;
  width: 100%;
}
.track__analysis table tr {
  border-top: 1px solid black;
}
.track__analysis table tr td {
  position: relative;
  font-weight: 700;
  text-align: right;
  padding: 1rem;
  padding-bottom: 5rem;
}
.track__analysis table tr td + td {
  border-left: 1px solid black;
}
.track__analysis table tr td .block__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.track__analysis table th {
  padding: 1rem 0;
}
.track__analysis table th + th {
  border-left: 1px solid black;
}

.analysis__table {
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
}
.analysis__table p {
  padding: 0.5rem 0;
  text-align: center;
}

.book__table .block__image {
  max-width: 8rem;
}
.book__table .block__image img {
  width: 100%;
}
.book__table .book__table-title {
  max-width: 15rem;
  font-weight: 700;
  font-size: 1.9rem;
}
.book__table .book__table-author {
  max-width: 10rem;
}
.book__table thead {
  border-bottom: 1px solid black;
}
.book__table tbody {
  vertical-align: top;
  font-size: 1.9rem;
  font-weight: 700;
}
.book__table tbody td {
  padding: 2rem 1rem;
}
.book__table tbody .btn-red {
  width: 12rem;
  text-align: center;
  padding: 1rem 0;
}
.book__table tbody .book__table-btn {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}
.book__table tbody .book__table-read {
  cursor: pointer;
}
.book__table .loadmore {
  margin-top: 7rem;
}

.form__book-editor {
  width: 90%;
  margin: 0 auto;
  padding: 3rem;
  padding-bottom: 6rem;
  font-size: 1.8rem;
  font-weight: 700;
  position: relative;
}
.form__book-editor .form__book-editor__title {
  font-size: 2.7rem;
  font-family: 700;
  text-align: center;
}
.form__book-editor .form__group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 2rem;
}
@media (max-width: 575px) {
  .form__book-editor .form__group {
    flex-wrap: wrap;
  }
}
.form__book-editor .form__group + .form__group {
  margin-top: 2rem;
}
.form__book-editor label {
  min-width: 20rem;
}
.form__book-editor input {
  flex-grow: 1;
  padding: 1rem;
  border-radius: 1rem;
}
.form__book-editor .image-book {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin-top: 2rem;
}
.form__book-editor .image-book .block__image {
  margin-left: 20rem;
  width: 6rem;
  height: 6rem;
}
.form__book-editor .form__book-btn__create {
  position: absolute;
  bottom: 7rem;
  right: 0rem;
  background-color: #4399C9;
  color: #fff;
  padding: 1rem 1.5rem;
  border: 1px solid black;
  border-radius: 1rem;
}
@media (max-width: 991px) {
  .form__book-editor .form__book-btn__create {
    bottom: 2rem;
    right: 0;
    transform: translate(-50%, 0);
  }
}

.section-footer {
  padding: 3.5rem 9.5rem 1.8rem 2rem;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.footer__wraper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 6rem;
}
@media (max-width: 1200px) {
  .footer__wraper {
    gap: 3rem;
  }
}

.footer__link {
  padding-top: 1rem;
  flex-flow: 1;
}
@media (max-width: 991px) {
  .footer__link {
    width: 100%;
    text-align: center;
  }
}
.footer__link .link {
  color: rgba(6, 19, 135, 0.76);
  font-weight: 700;
}
.footer__link li + li {
  margin-top: 2rem;
}

.footer__text {
  flex-grow: 2;
}
@media (max-width: 991px) {
  .footer__text {
    width: 100%;
    text-align: center;
  }
}
.footer__text .text-title {
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 3.5rem;
}
.footer__text .text-content {
  line-height: 1.5;
}

.footer__contact {
  flex-grow: 2;
  padding-top: 2rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .footer__contact {
    width: 100%;
    justify-content: center;
    gap: 4rem;
  }
}
.footer__contact .contact-icon {
  width: 6.1rem;
  height: 5rem;
}
.footer__contact .contact-btn {
  color: #000000;
  padding: 0.3rem 1.5rem;
  background-color: #C0DDF9;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 5px;
}

.section-blog {
  padding: 2rem;
}

.blog__search {
  width: 50%;
  margin: 0 auto;
  font-size: 1.9rem;
  font-weight: 700;
  background-color: #C4C4C4;
  padding-bottom: 1rem;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}

.blog__wraper {
  padding: 4rem 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 4rem;
}
.blog__wraper .blog__menu {
  width: 20%;
}
.blog__wraper .blog__menu .menu-item + .menu-item {
  margin-top: 3rem;
}
.blog__wraper .blog__main {
  width: 80%;
}

.blog__main {
  padding: 7rem 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem 2rem;
}
.blog__main .blog-item {
  display: flex;
  gap: 2rem;
  border: 1px solid #000000;
  padding: 2rem;
  background-color: #FFFFFF;
  border-radius: 2px;
}
.blog__main .blog-item .blog__image {
  padding-top: 3rem;
}
.blog__main .blog-item .content__control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
}
.blog__main .blog-item .control__text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 5rem;
}
.blog__main .blog-item .control__btn {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.blog__main .blog-item span {
  font-weight: 700;
  font-size: 1.9rem;
  color: #F25A5A;
}
.blog__main .content__text {
  font-size: 1.9rem;
  font-weight: 700;
}
.blog__main .content__text .text-title {
  padding-bottom: 1rem;
}
.blog__main .content__text .text-desc {
  padding-left: 2rem;
}
.blog__main .content__text .text-readmore {
  color: #4399C9;
}

.loadmore {
  text-align: center;
}

.loadmore__list {
  margin: 0 auto;
  padding: 0.5rem;
  display: inline-flex;
  gap: 0 0.5rem;
  font-size: 1.2rem;
  background-color: #FFFFFF;
}
.loadmore__list .loadmore__arrow {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.loadmore__list .loadmore__arrow-next {
  color: black;
  border-color: black;
}
.loadmore__list .loadmore-link {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  border: 1px solid rgba(0, 0, 0, 0.37);
}
.loadmore__list .loadmore-link.active {
  background-color: rgba(0, 0, 0, 0.37);
}

.section-blog.page--5 .blog__main {
  padding-top: 0;
}
.section-blog.page--5 .blog__search {
  background-color: transparent;
  text-align: left;
}
.section-blog.page--5 .blog__main-content {
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: column;
}
.section-blog.page--5 .text-desc {
  padding-left: 0;
}
.section-blog.page--5 .content__control {
  width: 100%;
  padding: 0 2rem;
}
.section-blog.page--5 .content__control .control__text {
  margin-top: -1.5rem;
  flex-grow: 1;
  justify-content: center;
}
.section-blog.page--5 .blog__main-heading {
  margin-top: -3rem;
  font-size: 1.9rem;
  font-weight: 700;
}

.section-blog.page--6 .content__control {
  margin-top: 2rem;
  padding: 0 2rem;
}
.section-blog.page--6 .content__control .control__btn {
  margin-top: 2rem;
}

/*# sourceMappingURL=style_07.css.map */
