// .container {
//     max-width: 100%;
//     padding: 0 7.5rem 0 0.6rem;
//     margin: 0 auto;
//     @include for-size (1200) {
//         max-width: 114rem;
//     }
// }

table {
    width: 100%;
    border-collapse: collapse; 
}

.grow-1 {
    flex-grow: 1;
}

.sidebar {
    width: 20%;
    @include for-size(1022) {
        display: none;
    }
    .sidebar-item + .sidebar-item {
        margin-top: 3rem;
    }
    .sidebar__form {
        margin-top: 2rem;
        display: flex;
        gap: 2rem;
        input {
            flex-grow: 1;
            background-color:  rgba(196, 196, 196, 1);
            border: none;
            outline: none;
        }
        label {
            font-size: 2rem;
            cursor: pointer;
        }
    }
}

.btn {
    padding: 0.6rem 3rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.7rem;
    background-color: $color-03;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    &:hover {
        outline: none;
        border-radius: 0.5rem;
    }
    &:active {
        outline: none;
    }
    @include for-size(991) {
        padding: 0.5rem 2rem;
    }
}

.btn-red {
    padding: 0.8rem 4.5rem;
    border-radius: 5px;
    background-color: $color-06;
    outline: none;
    border: none;
    color: white;
    font-weight: 700;
    &.btn-white {
        background-color: $color-09;
        color:  $color-text;
        font-size: 1.9rem;
        font-weight: 700;
    }
}

.menu__item-link {
    display: block;
    padding: 1.6rem ;
    background-color: $color-01;
    border-radius: 0px 12px 12px 0px;  
    font-weight: 700;
    &.active {
        background-color: $color-02; 
    }
}  

.input__border-none {
    border: none;
    border-bottom: 1px solid $color-text;
    font-size: inherit;
}

